.result_table {
  border: 2px solid black;
  border-radius: 10px;
	width: 60%;
	height: 50%;
}

thead {
	display: block;
	height: 10%;
}

tbody {
	display: block;
	height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

thead th {
  letter-spacing: 1px;
	text-align: left;
	width: 150px;
}

tbody td {
  letter-spacing: 1px;
	width: 150px;
}
